/Penghubung/nbproject/private/
/Latihan/nbproject/private/
/Percobaan/nbproject/private/
/Latihan/build/
/SiputStore/nbproject/private/
/SiputStore/build/
/HalloNetbeans/nbproject/private/
/Java CRUD/nbproject/private/
/Java CRUD/build/